/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

#email-preps-form {
  margin-bottom: 20px;

  .page-header {
    h1, h2 {
      color: #333;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 200;
    }

    p {
      font-size: 14px;
      margin-top: 30px;
    }
  }

  .email-prefs {
    * {
      color: #444;
      font-size: 14px;
    }

    .item {
      cursor: pointer;
      margin: 20px 0px;
      padding-bottom: 1px;
      position: relative;
      -moz-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    .item-inner {
      background: #f7f7f7;
      border: 1px solid #e4e4e4;
      border-radius: 8px;
      margin-top: 0;
      padding: 15px;
      transition: .3s ease all;

      &:hover {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
      }

      &.selected {
        background: #f0f7fc;
        border: 1px solid #e0e7ec;
      }

      .fakelabel {
        align-items: center;
        display: flex;

        span {
          font-weight: bold;
          margin-left: 7px;
        }
      }

      p {
        margin: 5px 20px 0;
      }
    }

    .subscribe-options {
      label {
        align-items: center;
        display: flex;
        margin-left: 15px;

        span {
          font-weight: bold;
          margin-left: 7px;
        }
      }
    }

    .btn {
      color: #fff;
      padding: 6px 30px;
    }
  }
}
