<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag('/', id: 'email-preps-form') do %>
        <div class="page-header">
          <h1>Communication Preferences</h1>
          <h2><%= @email %></h2>

          <p>If this is not your email address, please ignore this page since the email associated with this page was most likely forwarded to you.</p>
        </div>

        <div class="email-prefs">
          <p>Uncheck the types of emails you do not want to receive:</p>

          <% @prefs.each do |key, value| %>
            <div class="item">
              <div class="item-inner <%= 'selected' if value[:subscribed] %>">
                <div class="checkbox-row">
                  <span class="fakelabel">
                    <% if value[:subscribed] %>
                      <%= check_box_tag(key, '', :checked) %>
                    <% else %>
                      <%= check_box_tag(key) %>
                    <% end %>
                    <span><%= value[:name] %></span>
                  </span>
                </div>
                <p><%= value[:desc] %></p>
              </div>
            </div>
          <% end %>

          <div class="subscribe-options">
            <p>Or check here to never receive any emails:</p>
            <p>
              <label for="globalunsub">
                <%= check_box_tag(:globalunsub) %>
                <span>Unsubscribe me from all mailing lists.</span>
              </label>
            </p>
          </div>

          <%= submit_tag("Update email preferences", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
